<h1>Featured Pages</h1>
<%= link_to "The End of Yesterday", Page.find(12), :class => "button keep-white" %><br />
<p>A story of survival in the apocalypse. </p>
<%= link_to "A Day in Middletown", Page.find(1), :class => "button keep-white" %> <br />
<p>You are walking down the street in Middletown. What could possibly go wrong?</p>
