<h1 class="center"> Welcome to Mandelthought</h1>
<p>This is Mandelthought</p>
<%= link_to "The various pages that form Mandelthought", pages_path, :class => "button small keep-white" %>
<br />
<%= link_to "A graph of the Mandelthought network", graph_pages_path, :class => "button small keep-white" %>
<br />
<%= link_to "Some suggested starting points", static_pages_featured_pages_path, :class => "button small keep-white" %>