
.middleofscreen {
	margin-top: 45px;
}
.bgsky {
	background-image: url('night_sky.jpg');
	background-size: 100%;
	width: 100%;
	height: 100%;
	position: fixed;
}
.parchment {
	box-shadow: rgba(0,0,0,0.4) 10px 10px;
}
.keep-white {
	color: #fff !important;
}
.graph {
	height: 600px;
}

.node {
  stroke: #000;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}
.center
{ 
	margin-left: auto;
	margin-right: auto;
}
.image-margin 
{
	margin: 25px;
}
.graph-text { 
  stroke: #000;
  font: 10px sans-serif;
  pointer-events: none;
  letter-spacing: 1px;
}
.top-bar {
	margin-bottom: 0px !important;
	border-bottom: 3px solid #fff;
	height: 48px;
}
